.filterbar {
  font-family: 'Poppins';

  .filter-title {
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .filter-items {
    margin-left: 2rem;
    margin-bottom: 3rem;

    .item {
      margin-bottom: 1.5rem;
    }
  }
}