.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-container .product-card {
  width: 14rem;
  margin: 0 1rem 0 1rem;
}

@media (min-width: 1024px) {
  .products-container .product-card {
    width: 15rem;
  }
}